body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}


.container{
    
    text-align: center;
    background-color: white;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.button1{
    
    background-color:white;
    color: black;
    border: 2px solid green;
    padding: 30px 30px;
    float:left;
}

.button1:hover {
    
    background-color:green;
}
