body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}

.content{

    width: 320px;
    border: 10px solid black;
}


.container{
    top:400px;
    background-color: white;
    
}

.center {
    text-align: center;
    font-style: italic;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    top: 300px;
    left:300px;
}




.button1{
    
    background-color:white;
    color: black;
    border: 2px solid green;
    padding: 30px 30px;
    float:left;
      font-style:italic;
}

.button1:hover {
    
    background-color:green;
    color:white;
}

.button2{
    
    background-color:white;
    color: black;
    border: 2px solid blue;
    padding: 30px 30px;
    float:left;
      font-style:italic;
}

.button2:hover {
    
    background-color:blue;
    color:white;
}

.button3{
    
    background-color:white;
    color: black;
    border: 2px solid red;
    padding: 30px 30px;
    float:left;
      font-style:italic;
}

.button3:hover {
    
    background-color:red;
    color:white;
}

.button4{
    
    background-color:white;
    color: black;
    border: 2px solid black;
    padding: 30px 30px;
    float:left;
      font-style:italic;
}

.button4:hover {
    
    background-color:black;
    color:white;
}

.button5{
    
    background-color:white;
    color: black;
    border: 2px solid violet;
    padding: 30px 30px;
    float:left;
      font-style:italic;
}

.button5:hover {
    
    background-color:violet;
    color:white;
}


.button6{
    
    background-color:white;
    color: black;
    border: 2px solid green;
    padding: 30px 30px;
    float:right;
      font-style:italic;
}


.button6:hover {
    
    background-color:green;
    color:white;
}

.button7{
    
    background-color:white;
    color: black;
    border: 2px solid blue;
    padding: 30px 30px;
    float:right;
      font-style:italic;
}


.button7:hover {
    
    background-color:blue;
    color:white;
}

