body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}


.container{
    
    text-align: center;
    background-color: white;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 400px;
}

.button1{
    
    background-color:white;
    color: black;
    border: 2px solid green;
    padding: 30px 30px;
    float:left;
}

.button1:hover {
    
    background-color:green;
    color:white;
}

.button2{
    
    background-color:white;
    color: black;
    border: 2px solid blue;
    padding: 30px 30px;
    float:left;
}

.button2:hover {
    
    background-color:blue;
    color:white;
}

.button3{
    
    background-color:white;
    color: black;
    border: 2px solid red;
    padding: 30px 30px;
    float:left;
}

.button3:hover {
    
    background-color:red;
    color:white;
}

.button4{
    
    background-color:white;
    color: black;
    border: 2px solid black;
    padding: 30px 30px;
    float:left;
}

.button4:hover {
    
    background-color:black;
    color:white;
}

.button5{
    
    background-color:white;
    color: black;
    border: 2px solid violet;
    padding: 30px 30px;
    float:left;
}

.button5:hover {
    
    background-color:violet;
    color:white;
}

