body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}


.container{
    
    text-align: center;
    background-color: white;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

